<!DOCTYPE html>
<html lang="en">
<head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <title>{% block title %}Bibliothèque Ouverte{% endblock %}</title>

            {% block stylesheets %}{% endblock %}


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <nav class="navbar navbar-light bg-light navbar-fixed-top"  style= "background-color: #e3f2fd;">
                <a class="navbar-brand" href="/accueil">
                    <img src="{{ asset('amu-logo.png') }}" alt="AMU - Bibliothèque Ouverte" width="120" height="40">
                </a>
            </nav>
        </div>
    </div>
{% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=InsérezVotreCléApiGoogleMapsIci&libraries=geometry&callback=initialisation">
        var depart = new google.maps.getCurrentPosition();
        var arrivee = new google.maps.LatLng(43.304850267226534,5.377335548400879);

        var distance = google.maps.geometry.spherical.computeDistanceBetween( depart, arrivee );
        alert(distance);
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>
</html>